body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px 70px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 4px solid #7d97ad;
    margin-bottom: 50px;
}
.logo img{
    max-width: 50%;
    height: auto;
}
.name{
    text-align: right;
}
img{
    width: 100%;
    height: auto;
}
@media screen and (min-width:501px)
{
.projects{
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
}
@media screen and (max-width:500px)
{
  .projects{
   
    text-align: center;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
   }
}
.pro{
    box-shadow: 5px 5px 19px 1px rgba(138,131,138,1);
    -webkit-box-shadow: 10px 10px 19px 1px rgba(138,131,138,1);
    -moz-box-shadow: 10px 10px 19px 1px rgba(138,131,138,1);
    -webkit-transition: box-shadow 2s; /* For Safari 3.1 to 6.0 */
    transition: box-shadow 0.5s;
    margin-bottom: 25px;
}
.pro:hover{
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2), 2px 6px 20px 2px rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2), 2px 6px 20px 2px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2), 2px 6px 20px 2px rgba(0, 0, 0, 0.19);
}

a {
    color: #2d3c49;
    text-decoration: none;
}
.name h1{
    font-weight: lighter;
    margin: 0;    
}
.name h3{
    font-weight: lighter;
    margin-top: 7px;    
}
h3{
    text-transform: uppercase;
}
h2{
    color: #7d97ad;
    font-size: 30px;
}
p{
   word-wrap: break-word;
}
